{% extends 'polls/base.html' %}
{% block main_content %}
<h1>{{ question.question_text }}</h1>

{% if error_message %} <p><strong> {{error_message}} </strong></p> {% endif %}
<div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column ">
          <strong class="d-inline-block mb-2 text-success">Question</strong>
          <h3 class="mb-0">Select choice</h3>
              <form action="{% url 'polls:vote' question.id %}" method="post">
                {% csrf_token %}
                {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}"/>
                    <label for="choice{{forloop.counter}}"> {{choice.choice_text}} </label> <br>
                {% endfor %}
                <input type="submit" value="vote" />
              </form>
        </div>

      </div>
</div>

{% endblock %}