{% extends 'polls/base.html' %}
{% block main_content %}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
              <h1 class="display-4 fst-italic">Choose your question</h1>

            </div>
    </div>
{% if latest_question %}
    <div class="col-md-12">

      <div class="row g-0  flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        {% for question in latest_question %}
            <div class="col p-4  border rounded overflow-hidden d-flex flex-column ">
              <strong class="d-inline-block mb-2 text-success">Question {{question.id}}</strong>
              <h3 class="mb-0">
                   <a href ="{% url 'polls:detail' question.id %}">
                     <b>{{question.question_text}}</b>
                   </a>
              </h3>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            </div>
        {% endfor %}
      </div>

    </div>

{% else %}
    <p>You don't have any question, please add some.</p>
{% endif %}

{% endblock %}